/*

--- 01 TYPOGRAPHY SYSTEM

-Font sizes (rem)
1.4 / 1.5 / 1.6 / 2.4

-Font weights
Regular / SemiBold

-Line heights
Default: 1

--- 02 COLORS

Header-Background: #12b886
Outboard-Boarder: black
Header-Text: white
Content-Background: #f2f2f2
Inboard-Boarder: #1e1e1e
Input-Color #fff4d6
Button-Color #e9ff32
Footer-Background #cbe3c2

--- 03 WHITESPACE

-Spacing system (rem)
0.2 / 0.4 / 0.8 / 1.2 / 1.6 / 2.4 / 3.2 / 4.8 / 6.4 / 8.0 / 9.6 / 12.8

*/

@font-face {
  font-family: "NotoSansThaiLooped-SemiBold";
  src: url("fonts/NotoSansThaiLooped-SemiBold.ttf");
}

@font-face {
  font-family: "NotoSansThaiLooped-Regular";
  src: url("fonts/NotoSansThaiLooped-Regular.ttf");
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /* 10px / 16px = 0.625 = 62.5% */
  font-size: 62.5%;
}

.Main_Container {
  /* STARTER */
  border: 0.3rem solid black;
  max-width: 88rem;

  margin: 0 auto;

  /* CSS GRID */
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto auto auto;
}

/*---------------------------------------------------------------------------*/
.header {
  border-left: 0.1px solid #1e1e1e;
  border-bottom: 0.1rem solid #1e1e1e;
  grid-column: 1/-1;
  /* FLEXBOX */
  display: flex;
  justify-content: center;
  align-items: center;
}
/*---------------------------------------------------------------------------*/

/*NOT LOG-IN ZONE*/
.content {
  background-color: #ffffff;
  border-bottom: 0.1rem solid #1e1e1e;
  grid-column: 1/-1;
  font-family: "NotoSansThaiLooped-Regular";
  font-size: 1.6rem;

  /* CSS GRID */
  display: grid;
  grid-template-columns: repeat(32, 1fr);
  grid-template-rows: 1.6rem auto 1.2rem auto 1.2rem auto 1.2rem auto 1.2rem auto 1.2rem auto auto 1.6rem;
  column-gap: 0.5rem;
  justify-items: center;
}

/*1/2*/

.content-needle {
  grid-column: 1/-1;
  grid-row: 2/3;

  justify-self: center;
  align-self: center;
}

/*3/4*/

.content-top {
  grid-column: 1/-1;
  grid-row: 4/5;

  justify-self: center;
  align-self: center;

  font-size: 2rem;
  font-family: "NotoSansThaiLooped-SemiBold";
}

/*5/6*/

.kid-birth-date {
  grid-column: 1/13;
  grid-row: 6/7;
  align-self: center;
  justify-self: end;
}

.kid-birth-date-input {
  background-color: #fff4d6;
  font-size: 1.8rem;
  height: 3rem;
  grid-column: 13/23;
  grid-row: 6/7;
  align-self: center;
  width: 100%;
}

/*7/8*/

.hospital-service-date {
  grid-column: 1/13;
  grid-row: 8/9;
  align-self: center;
  justify-self: end;

  /* FLEXBOX */
  display: flex;
  flex-direction: row;
}

.hospital-service-date label {
  align-self: flex-end;
}

.hospital-service-date-input {
  background-color: #fff4d6;
  font-size: 1.8rem;
  height: 3rem;
  grid-column: 13/23;
  grid-row: 8/9;
  align-self: center;
  width: 100%;
}

/*9/10*/

.button-submit {
  background-color: #e9ff32;
  height: 4rem;
  width: 6rem;
  border-radius: 0.5rem;
  padding: 0rem 0rem 0.2rem 0rem;
  font-family: "NotoSansThaiLooped-Regular";
  font-size: 1.5rem;

  grid-column: 1/23;
  grid-row: 10/11;
  align-self: center;
  justify-self: end;
}

.button-submit:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.button-submit:active {
  transform: scale(0.96);
}

/*11/12*/

.show-result-kid-age {
  grid-column: 1/-1;
  grid-row: 12/13;

  justify-self: center;
  align-self: center;
}

.show-result-kid-schedule {
  grid-column: 1/-1;
  grid-row: 13/14;

  justify-self: center;
  align-self: center;

  /* FLEXBOX */
  display: flex;
  flex-direction: column;
}

/*---------------------------------------------------------------------------*/

/*LOGED-IN ZONE*/

.content-logged-in {
  background-color: #f2f2f2;
  border-bottom: 0.1rem solid #1e1e1e;
  grid-column: 1/-1;
  font-family: "NotoSansThaiLooped-Regular";
  font-size: 1.6rem;

  /* CSS GRID */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.4fr 0.5fr 2fr 0.1fr 0.5fr 1.2fr 0.2fr;
  column-gap: 0.5rem;
  justify-items: center;
}

.content-top-logged-in {
  grid-column: 1/-1;
  grid-row: 2/3;

  justify-self: center;
  align-self: center;
}

.content-access-number {
  font-size: 5rem;
  padding: 0rem 0rem 0rem 0rem;

  grid-column: 1/-1;
  grid-row: 3/4;
  align-self: center;
  justify-self: center;
}

.content-old-number {
  grid-column: 1/-1;
  grid-row: 5/6;
  align-self: center;
  justify-self: center;
}

.username-showing_button-logout {
  grid-column: 1/-1;
  grid-row: 6/7;
  align-self: center;
  justify-self: center;

  /* FLEXBOX */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
}

.username-showing {
  color: #006d00;
}

.button-logout {
  background-color: #dee2e6;
  height: 4rem;
  width: 6rem;
  border-radius: 0.5rem;
  padding: 0rem 0rem 0.2rem 0rem;
  font-family: "NotoSansThaiLooped-Regular";
  font-size: 1.5rem;
}

.button-logout:hover {
  transform: scale(1.04);
  cursor: pointer;
}

.button-logout:active {
  transform: scale(0.96);
}

/*---------------------------------------------------------------------------*/

.nutrition {
  background-color: #faa2c1;
  grid-column: 1/-1;
  border-bottom: 0.1rem solid #1e1e1e;
  padding-top: 10px;
  padding-bottom: 10px;

  /* CSS GRID */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  column-gap: 0.5rem;
  justify-items: center;
  column-gap: 12px;
}

.nutrition img {
  grid-column: 1/2;
  grid-row: 1/2;
  align-self: center;
  justify-self: flex-end;
  border: 0.1rem solid black;
  margin: 5px;
}

.nutrition div {
  grid-column: 2/3;
  grid-row: 1/2;
  align-self: flex-start;
  justify-self: flex-start;
  margin: 5px;
}

.nutrition div h2 {
  font-size: 18px;
}

.nutrition div h3 {
  font-size: 16px;
}

/*---------------------------------------------------------------------------*/

.video-section {
  background-color: #69db7c;
  text-align: center;
  grid-column: 1/-1;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 0.1rem solid #1e1e1e;
}

.video-section h2 {
  font-size: 18px;
  margin-top: 5px;
}

.video-section video {
  width: 90%;
  border: 0.1rem solid #1e1e1e;
}
/*---------------------------------------------------------------------------*/

thead,
th,
tr,
td {
  text-align: left;
  padding: 0.8rem 2rem 0.8rem 2rem;
  font-size: 1.6rem;
}

th {
  background-color: #f2f2f2;
}

tr {
  background-color: white;
}

a.print {
  cursor: pointer;
  color: blue;
  font-size: 18px;
  text-decoration: underline;
  align-self: start;
}

/*---------------------------------------------------------------------------*/
footer {
  grid-column: 1/-1;
}
